{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <!-- Services Start -->
    <div class="container-fluid services py-5">
        <div class="container py-5">
            <div class="mx-auto text-center mb-5" style="max-width: 800px;">
                <p class="fs-4 text-uppercase text-center text-dark">Our Service</p>
                <h1 class="display-3 text-custom">Spa & Beauty Services</h1>
                <p>At Mide Spa, we are dedicated to providing an exceptional experience that nurtures your body, mind, and spirit. Our wide range of luxurious spa and beauty services are designed to help you relax, rejuvenate, and feel your best. Whether you're looking to refresh your skin, unwind with a soothing massage, or enhance your natural beauty, we have the perfect treatment for you.</p>
            </div>
            <div class="row g-4">

                <!-- Skin Care -->
                <div class="col-lg-6">
                    <div class="services-item bg-light border-4 border-end" style="border-color: #808000; border-right-width: 4px; border-style: solid;" rounded p-4">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <div class="services-content text-end">
                                    <h3>Skin Care</h3>
                                    <p>At Mide Spa, our skin care treatments are designed to rejuvenate and revitalize your complexion. We offer a range of facials tailored to your specific skin type and concerns, whether you're looking to hydrate, exfoliate, or combat aging. Our experienced estheticians use premium products to cleanse, tone, and nourish your skin, leaving you with a radiant glow. </p>
                                    <a href="https://wa.me/your_whatsapp_number" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Make Order</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="services-img d-flex align-items-center justify-content-center rounded">
                                    <img src="{% static 'img/services-1.jpg' %}" class="img-fluid rounded" alt="Skin Care">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Face Masking -->
                <div class="col-lg-6">
                    <div class="services-item bg-light border-4 border-start" style="border-color: #808000; border-left-width: 4px; border-style: solid;" rounded p-4">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <div class="services-img d-flex align-items-center justify-content-center rounded">
                                    <img src="{% static 'img/services-2.jpg' %}" class="img-fluid rounded" alt="Face Masking">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="services-content text-start">
                                    <h3>Face Masking</h3>
                                    <p>Our face masking service is the perfect way to detoxify and pamper your skin. We offer a variety of masks, including clay, peel-off, and hydrating masks, each designed to address specific skin concerns. Whether you're battling breakouts, dealing with dryness, or simply want to give your skin a refreshing boost, our face masks will leave your skin feeling soft, smooth, and deeply cleansed.</p>
                                    <a href="https://wa.me/your_whatsapp_number" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Make Order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Steam Bath -->
                <div class="col-lg-6">
                    <div class="services-item bg-light border-4 border-end" style="border-color: #808000; border-right-width: 4px; border-style: solid;" rounded p-4">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <div class="services-content text-end">
                                    <h3>Steam Bath</h3>
                                    <p>Experience the ultimate relaxation with our steam bath service. Steam baths are known for their ability to detoxify the body, clear skin impurities, and promote relaxation. At Mide Spa, our steam bath facilities are designed to provide a serene and soothing environment where you can unwind and let go of stress. The warm steam opens up your pores, improves circulation, and leaves you feeling refreshed and rejuvenated.</p>
                                    <a href="https://wa.me/your_whatsapp_number" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Make Order</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="services-img d-flex align-items-center justify-content-center rounded">
                                    <img src="{% static 'img/services-3.jpg' %}" class="img-fluid rounded" alt="Steam Bath">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Facial Therapy -->
                <div class="col-lg-6">
                    <div class="services-item bg-light border-4 border-start" style="border-color: #808000; border-left-width: 4px; border-style: solid;" rounded p-4">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <div class="services-img d-flex align-items-center justify-content-center rounded">
                                    <img src="{% static 'img/services-4.jpg' %}" class="img-fluid rounded" alt="Facial Therapy">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="services-content text-start">
                                    <h3>Facial Therapy</h3>
                                    <p>Indulge in our facial therapy sessions, where science meets relaxation. Our facials are customized to meet your individual skin needs, whether you're looking to reduce fine lines, firm your skin, or simply enjoy a deep cleanse. Using advanced techniques and high-quality products, our facial therapy will leave your skin looking youthful and feeling revitalized. This is more than just a facial—it's a transformative experience for your skin.</p>
                                    <a href="https://wa.me/your_whatsapp_number" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Make Order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Body Massage -->
                <div class="col-lg-6">
                    <div class="services-item bg-light border-4 border-end" style="border-color: #808000; border-right-width: 4px; border-style: solid;" rounded p-4">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <div class="services-content text-end">
                                    <h3>Body Massage</h3>
                                    <p>Our body massage services are designed to melt away stress and tension, leaving you feeling relaxed and rejuvenated. We offer a range of massage styles, from Swedish and deep tissue to hot stone and aromatherapy. Our skilled therapists tailor each session to your specific needs, ensuring that you experience the ultimate in relaxation and pain relief. Trust us to take your skin to the next level of beauty and health.</p>
                                    <a href="https://wa.me/your_whatsapp_number" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Make Order</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="services-img d-flex align-items-center justify-content-center rounded">
                                    <img src="{% static 'img/services-5.jpg' %}" class="img-fluid rounded" alt="Body Massage">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Aroma Therapy -->
                <div class="col-lg-6">
                    <div class="services-item bg-light border-4 border-start" style="border-color: #808000; border-left-width: 4px; border-style: solid;" rounded p-4">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <div class="services-img d-flex align-items-center justify-content-center rounded">
                                    <img src="{% static 'img/services-6.jpg' %}" class="img-fluid rounded" alt="Aroma Therapy">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="services-content text-start">
                                    <h3>Aroma Therapy</h3>
                                    <p>Our aromatherapy sessions combine the power of touch with the healing benefits of essential oils. This holistic therapy is designed to improve both your physical and emotional well-being. Whether you're looking to relax, energize, or find balance, our aromatherapy sessions are customized to meet your needs. Let the soothing scents and expert massage techniques transport you to a state of deep relaxation and peace.</p>
                                    <a href="https://wa.me/your_whatsapp_number" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Make Order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mineral Baths -->
                <div class="col-lg-6">
                    <div class="services-item bg-light border-4 border-end" style="border-color: #808000; border-right-width: 4px; border-style: solid;" rounded p-4">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <div class="services-content text-end">
                                    <h3>Mineral Baths</h3>
                                    <p>Our mineral baths are infused with natural minerals and salts that help to detoxify your body, soothe your muscles, and rejuvenate your skin. This luxurious bath treatment promotes relaxation and healing, making it the perfect way to unwind after a long day. At Mide Spa, we believe in the power of nature to enhance your well-being.</p>
                                    <a href="https://wa.me/your_whatsapp_number" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Make Order</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="services-img d-flex align-items-center justify-content-center rounded">
                                    <img src="{% static 'img/services-7.jpg' %}" class="img-fluid rounded" alt="Mineral Baths">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Body Scrub -->
                <div class="col-lg-6">
                    <div class="services-item bg-light border-4 border-start" style="border-color: #808000; border-left-width: 4px; border-style: solid;" rounded p-4">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <div class="services-img d-flex align-items-center justify-content-center rounded">
                                    <img src="{% static 'img/services-8.jpg' %}" class="img-fluid rounded" alt="Body Scrub">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="services-content text-start">
                                    <h3>Body Scrub</h3>
                                    <p>Revitalize your skin with our invigorating body scrub service. Our exfoliating treatments use natural ingredients to remove dead skin cells, promote circulation, and leave your skin feeling silky smooth. A body scrub at Mide Spa is the perfect way to refresh and rejuvenate your body, making your skin glow with health and vitality.</p>
                                    <a href="https://wa.me/your_whatsapp_number" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Make Order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Service More Button -->
                <div class="col-12">
                    <div class="services-btn text-center">
                        <a href="{% url 'appointment' %}" class="btn btn-primary btn-primary-outline-0 rounded-pill py-3 px-5">Book Your Spa Treatment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->
</div>






<style>
    /*** Services Start ***/
.services .services-item {
    transition: 0.5s;
}

.services .services-item:hover {
    background: #808000 !important;
    border-color: #6B8E23 !important;
}

.services .services-item:hover .services-content p,
.services .services-item:hover .services-content h3 {
    color: #ffffff !important;
    transition: 0.5s;
}

.services .services-item:hover .services-content a.btn {
    background: #ffffff !important;
    color: #808000 !important;
}

.services .services-item:hover .services-content a.btn:hover {
    color: #ffffff !important;
}

.services .services-item .services-img {
    overflow: hidden;
}

.services .services-item .services-img img {
    transition: 0.5s;
}

.services .services-item .services-img img:hover {
    transform: scale(1.3);
}

.text-custom{
    color: #808000;
}
/*** Services End ***/
</style>
{% endblock %}
